OTPServiceWeb/WebContent/WEB-INF/wsdl/OneTimePasswordServiceBeanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OneTimePasswordServiceBeanService" targetNamespace="http://bean.otp.service.rssl.ibm.it/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bean.otp.service.rssl.ibm.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bean.otp.service.rssl.ibm.it/" schemaLocation="OneTimePasswordServiceBeanService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="IllegalParameterException">
    <part name="fault" element="tns:IllegalParameterException">
    </part>
  </message>
  <message name="InvalidPasswordException">
    <part name="fault" element="tns:InvalidPasswordException">
    </part>
  </message>
  <message name="AccountLockedException">
    <part name="fault" element="tns:AccountLockedException">
    </part>
  </message>
  <message name="WrongAttemptWarningReachedException">
    <part name="fault" element="tns:WrongAttemptWarningReachedException">
    </part> 
  </message>
  <message name="PasswordServiceUnavailableException">
    <part name="fault" element="tns:PasswordServiceUnavailableException">
    </part>
  </message>
  <message name="validateOtpResponse">
    <part name="parameters" element="tns:validateOtpResponse">
    </part>
  </message>
  <message name="generateOtp">
    <part name="parameters" element="tns:generateOtp">
    </part>
  </message>
  <message name="generateOtpResponse">
    <part name="parameters" element="tns:generateOtpResponse">
    </part>
  </message>
  <message name="validateOtp">
    <part name="parameters" element="tns:validateOtp">
    </part>
  </message>
  <message name="WrongMaxAttemptReachedException">
    <part name="fault" element="tns:WrongMaxAttemptReachedException">
    </part>
  </message>
  <message name="AccountNotFoundException">
    <part name="fault" element="tns:AccountNotFoundException">
    </part>
  </message>
  <message name="KeySessionNotRegisteredException">
    <part name="fault" element="tns:KeySessionNotRegisteredException">
    </part>
  </message>
  <portType name="OneTimePasswordServiceBean">
    <operation name="generateOtp">
      <input message="tns:generateOtp">
    </input>
      <output message="tns:generateOtpResponse">
    </output>
      <fault name="AccountNotFoundException" message="tns:AccountNotFoundException">
    </fault>
      <fault name="AccountLockedException" message="tns:AccountLockedException">
    </fault>
      <fault name="PasswordServiceUnavailableException" message="tns:PasswordServiceUnavailableException">
    </fault>
      <fault name="IllegalParameterException" message="tns:IllegalParameterException">
    </fault>
    </operation>
    <operation name="validateOtp">
      <input message="tns:validateOtp">
    </input>
      <output message="tns:validateOtpResponse">
    </output>
      <fault name="KeySessionNotRegisteredException" message="tns:KeySessionNotRegisteredException">
    </fault>
      <fault name="WrongMaxAttemptReachedException" message="tns:WrongMaxAttemptReachedException">
    </fault>
      <fault name="AccountNotFoundException" message="tns:AccountNotFoundException">
    </fault>
      <fault name="AccountLockedException" message="tns:AccountLockedException">
    </fault>
     <fault name="WrongAttemptWarningReachedException" message="tns:WrongAttemptWarningReachedException">
    </fault>
      <fault name="PasswordServiceUnavailableException" message="tns:PasswordServiceUnavailableException">
    </fault>
      <fault name="IllegalParameterException" message="tns:IllegalParameterException">
    </fault>
      <fault name="InvalidPasswordException" message="tns:InvalidPasswordException">
    </fault>
    </operation>
  </portType>
  <binding name="OneTimePasswordServiceBeanPortBinding" type="tns:OneTimePasswordServiceBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="generateOtp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AccountNotFoundException">
        <soap:fault name="AccountNotFoundException" use="literal"/>
      </fault>
      <fault name="AccountLockedException">
        <soap:fault name="AccountLockedException" use="literal"/>
      </fault>
      <fault name="PasswordServiceUnavailableException">
        <soap:fault name="PasswordServiceUnavailableException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="validateOtp">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="KeySessionNotRegisteredException">
        <soap:fault name="KeySessionNotRegisteredException" use="literal"/>
      </fault>
      <fault name="WrongMaxAttemptReachedException">
        <soap:fault name="WrongMaxAttemptReachedException" use="literal"/>
      </fault>
      <fault name="AccountNotFoundException">
        <soap:fault name="AccountNotFoundException" use="literal"/>
      </fault>
      <fault name="AccountLockedException">
        <soap:fault name="AccountLockedException" use="literal"/>
      </fault>
      <fault name="WrongAttemptWarningReachedException">
        <soap:fault name="WrongAttemptWarningReachedException" use="literal" /> 
      </fault>
      <fault name="PasswordServiceUnavailableException">
        <soap:fault name="PasswordServiceUnavailableException" use="literal"/>
      </fault>
      <fault name="IllegalParameterException">
        <soap:fault name="IllegalParameterException" use="literal"/>
      </fault>
      <fault name="InvalidPasswordException">
        <soap:fault name="InvalidPasswordException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="OneTimePasswordServiceBeanService">
    <port name="OneTimePasswordServiceBeanPort" binding="tns:OneTimePasswordServiceBeanPortBinding">
      <soap:address location="http://localhost:9080/OTPServiceWeb/OneTimePasswordServiceBeanService"/>
    </port>
  </service>
</definitions>